@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto&display=swap');

/*using colors for coolor.org #abd1dc, #dcacb2, #dcc7ac*/
*{
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Rancho, sans-serif;
    font-weight: 300;
    background-color: #abd1dc;
    color: #000;
}

/*headings and logo*/

h1, h2 {
    font-size: Rancho, sans-serif;
    letter-spacing: 4px;
}

#logo{
    float: left;
    font-size: 280%;
}

/*navagation links*/

#menu{
    font-size: 150%;
    letter-spacing: 4px; 
    float: right;   
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 30px;

}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu li:hover{
    background-color: #dcc7ac;
}

.active{
    border-bottom: 2px #dcacb2 solid ;
}