@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto&display=swap');

/*using colors for coolor.org #abd1dc, #dcacb2, #dcc7ac*/
*{
    margin: 0;
    padding: 1px;
    border: none;
}


body {
    font-family: Rancho, sans-serif;
    font-weight: 300;
    background-color: #abd1dc;
    color: #000;
}
p{
    font-size: 150%;
}

h1{
    font-size: 225%; 
    
}

div > p{
    /* margin-left: 30px; */
    padding-left: 20px;
}


/*headings and logo*/

h1, h2 {
    font-style: Rancho, sans-serif;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: #000;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
    
}

/*navagation links*/

#menu{
    font-size: 150%;
    letter-spacing: 4px; 
    float: right;   
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 30px;

}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu li:hover{
    background-color: #dcc7ac;
}


.active{
    border-bottom: 2px #dcacb2 solid ;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;
    background-size: 100%;
    overflow: hidden;
}

/*hero text zoom*/

#hero-text{    
    font-size: 225%;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image */

@keyframes hero-zoom {
    from{
        transform: scale(1.2);
    }
    to {
        transform: scale(2);
    }
    
}

/* home page about text */

#about-text{
    padding: 10px;
    background-color: ivory; 
}

#about-text h1{
    text-align: center;   
    font-size: 225%; 
    letter-spacing: 4px;
}

#about-text p{     
    font-size: 150%; 
}

#about-googlemap{
    overflow:hidden;
    padding-bottom:45%;
    position:relative;
    height:0;
}

/*Modified text from https://blog.duda.co/ to fix google maps size and padding*/

#about-googlemap iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#about-text-outer{
    padding: 5px;
}


#about-text-outer div {   
    box-sizing: border-box;  
}

/* footer */

footer{
    height: 100px;
    }

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}

.social-networks img{
    width: 5%;
    height: 5%;
}

/* food and drink page */

#fooddrink-hero-image{
    height: 600px;
    width: 100%;
    background: url(../images/foodanddrink.webp) no-repeat center center;
    background-size: 100%;
    overflow: hidden;
}
.column {
    float: left;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;  
  }

  .column h2{
      text-align-last: center;
      font-size: 225%; 
      background-color: ivory;
  }

  .column p{
    font-size: 150%; 
    background-color: ivory;
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
.openhours {
    width: 100%;
    font-size: 150%;
    background-color: ivory;
}

.openhours a:hover{
    background-color: #dcc7ac;
}

/*Adding zoom on hover of hotel images*/

.column img:hover{
    animation-name: hero-zoom-hotel;
    animation-duration: 3s;
    animation-fill-mode: forwards
}
/* creates the level of zoom for image */

@keyframes hero-zoom-hotel {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
    
}

/* Activites */

.text-center-white {
	color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-size: 300%;
    top: 50%;
    left: 33%;
    position: sticky;
}

.text-center-black {
	color: #000;
    text-align: center;
    letter-spacing: 4px;
    font-size: 300%;
    top: 50%;
    left: 33%;
    position: sticky;
}



#golf {
	padding: 1rem 0;	
	background: url(../images/SPGolf.webp) center center / cover no-repeat fixed;    
    height: 300px;
    
}

#surf {
	padding: 1rem 0;	
	background: url(../images/SPSurf.webp) center center / cover no-repeat;    
    height: 300px;
    width: 100%;     
    background-size: 100%;
    overflow: hidden;
    opacity: 0.9;

}
#walk {
	padding: 1rem 0;	
	background: url(../images/SPWalk.webp) center center / cover no-repeat fixed;    
    height: 300px;
}

/*Adding style to buttons*/

.activites_center{
    text-align: center;
}

.activites_button{    
        background-color: #4CAF50;
        border: 2px solid #dcacb2;
        border-radius: 12px;
        color: ivory;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 150%;
        margin: 4px 2px;
        cursor: pointer;
      }


/* media queries*/
/* For larger to medium screen size from 1200px wide*/

@media screen and (max-width: 1200px){
   

}

/* For medium to smaller screen size from 1200px wide*/

@media screen and (max-width: 950px){
   
    #hero-image{
        height: 300px;
    }
    #fooddrink-hero-image{
        height: 300px;
    }
   
    #menu{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .column {
        width: 100%;
      }

      /* remove the welcome text on smaller devices*/

      #hero-text {
        display: none;
      }

      /*Make weather image bigger on smaller devices*/

      .social-networks img{
        width: 10%;
        height: 10%;
 
    }

}